/* font */

body,
h1,
h3 {
  font-family: 'Philosopher', sans-serif;
}

/* navigation */

.nav-tabs {
  border-bottom: none;
}
.navbar {
  background-color:#343434;
  margin: 0;
}
/* CSS relating to jumbotron  */

.jumbotron {
  background-color: #417ABB;
  margin: 0;

}

.jumbotron h1 {
  text-align: center;
}

.jumbotron h1,
p {
  color: white;
}

/* buttons */

.scanner-button {
  margin-bottom: 15px;
  margin-top: 15px;

}

.btn-primary {
  background-color: #5B9A3F;
  color: white;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: #417ABB;

}

/* color of div where homepage button is and where URL scanner field is located */

.scanner {
  background-color:#343434;
}

/* why use Kraken section */

.why {
  color: white;
  background-color: #417ABB;
}

.why h1 {
 font-size: 45px;
}

/* graph section */
.graph p {
  color: #5B9A3F;
}

/* membership price boxes */

.member-plans {margin-top: 19px;}

/* color of bottom div membership page */

.membership-section {
  background-color:#343434;
  margin: 0;
}

/* color of  div membership page */

.user-section {
  background-color:#343434;
  margin: 0;
}
/* img of kraken on membership, user page, and report page*/

.kraken-img {
  padding-top: 13px;
  padding-bottom: 5px;
}

/* url input on user page */
.scanner-input {
  padding-top: 20px;
}

.user-section h1 {
  color: #5B9A3F;
}
