/* ============== Essential CSS ============== */

body {
  font-family: helvetica, sans-serif;
}

.btn-lg,
h1,
h3,
h4,
span {
  font-family: 'Philosopher', sans-serif;
}

/* ============== Buttons ============== */

.btn-primary {
  background-color: #4CAF50;
  color: white;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: #417ABB;
}

.scanner-button {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* ============== Image ============== */

.img-responsive {
  margin: 0 auto;
}

.kraken-img {
  padding-top: 13px;
  padding-bottom: 5px;
}

/* ============== Index Page ============== */

/* Section: Why Use On Index*/

.why h1 {
  font-size: 45px;
}

.why {
  color: white;
  background-color: #417ABB;
}

/* Section: Graph and News logos On Index */

.graph p {
  color: #5B9A3F;
}

.news p {
  color: black;
}

/*  Div colors */

.index-section-bottom {
  background-color:#343434;
  margin: 0;
}

.scanner {
  background-color:#343434;
}

/* ============== Jumbotron ============== */

/* On index and membership page  */

.membership-background {
  background-color:#343434;
  margin: 0;
}

.jumbotron {
  background-color: #417ABB;
  margin: 0;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron h1,
p {
  color: white;
}

/* ==============Login Page ============== */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.login-input {
  padding-top: 100px;
}

.remember-me {
  color: white;
}

/* ==============Membership Page============== */

.member-plans {
  margin-top: 19px;
}

.membership-section-bottom {
  margin: 0;
  background-color:#343434;
}

.popular {
  background-color: lightgray;

}

.power {
  margin: 0;
  background-color: #417ABB;
}


/* ============== Navigation ============== */

li:hover > a {
  background-color: #5B9A3F !important;
  color: white;
}

.nav-tabs {
  border-bottom: none;
}

.navbar {
  margin: 0;
  background-color:#343434;
}

/* ==============Reports Page============== */

/*threats enabled icon*/

.enabled-icon {
  padding-bottom: 20px;
}

/* color of bottom div report page */

.report-section-bottom {
  background-color:#343434;
  margin: 0;
}

/*jumbotron h1 on reports page*/

.report-top h1 {
  color: white;
}

/* Word: successful and 'Threat isolated and Secured' */

span {
  color: #5B9A3F;
  font-weight: bold;
}

span.threat {
  color: red;
}

.user-report  {
  background-color: #417ABB;
}

.user-report h1 {
  color: white;
}

/* ==============User Page============== */

/* url input field*/

.scanner-input {
  padding-top: 20px;
}

.user-section h1 {
  color: #5B9A3F;
}

.user-section,
.user-background {
  background-color:#343434;
  margin: 0;
}


/* ==============Reports List Page============== */

.reports-list-bottom {
  background-color:#343434;
}

.reports-list-background {
  background-color: whitesmoke;
}

#individual-report p {
  color:black;
  text-align: center;
}