/* font for body */

body {
  font-family: helvetica, sans-serif;
}

/*font for headers, buttons, and span tag*/

.btn-lg,
h1,
h3,
h4,
span {
  font-family: 'Philosopher', sans-serif;
}

/* set all images to center when responsive */

.img-responsive {
  margin: 0 auto;
}
/* navigation */

.nav-tabs {
  border-bottom: none;
}
.navbar {
  background-color:#343434;
  margin: 0%;
}
  /* nav hover color */

li:hover > a {
  color: white;
  background-color: #5B9A3F !important;
}

/* CSS relating to jumbotron on homepage and membership page  */

.jumbotron {
  background-color: #417ABB;
  margin: 0;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron h1,
p {
  color: white;
}

/* buttons */

.scanner-button {
  margin-bottom: 15px;
  margin-top: 15px;

}

.btn-primary {
  background-color: #5B9A3F;
  color: white;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: #417ABB;

}

/* color of div where homepage button is and where URL scanner field is located */

.scanner {
  background-color:#343434;
}

/* why use Kraken section */

.why {
  color: white;
  background-color: #417ABB;
}

.why h1 {
 font-size: 45px;
}

/* graph section */
.graph p {
  color: #5B9A3F;
}

/* membership price boxes */

.member-plans {
  margin-top: 19px;
}

/* membership container row jumbotron and row member-plans */

.power {
  background-color: #417ABB;
  margin: 0;
}

/* color of bottom div membership page */

.membership-section-bottom {
  background-color:#343434;
  margin: 0;
}

/* color of  div membership page */

.user-section,
.user-background {
  background-color:#343434;
  margin: 0;
}

/* img of kraken on membership, user page, and report page*/

.kraken-img {
  padding-top: 13px;
  padding-bottom: 5px;
}

/* url input on user page */

.scanner-input {
  padding-top: 20px;
}

.user-section h1 {
  color: #5B9A3F;
}

/* background color on user page */

.user-background {
  background-color:#343434;
  margin: 0;
}

/* report page word: successful */

span {
  color: #5B9A3F;
  font-weight: bold;
}

/* color of bottom div report page */

.report-section-bottom {
  background-color:#343434;
  margin: 0;
}

/*jumbotron on reports page*/

.report-top  {
  background-color: #343434;
  color: #5B9A3F;
  margin: 0;
}

/*jumbotron h1 on reports page*/

.report-top h1 {
  color: #5B9A3F;
}

/*popular choice on membership page*/
.popular {
  background-color: lightgray;

}