/* CSS relating to jumbotron */

.jumbotron {
  background-color: #417ABB;

}

.jumbotron h1 {
  text-align: center;
}

.jumbotron h1,
p {
  color: white;
}

/* CSS relating to URL input form */
.scanner-button {
  margin-top: 10px;
}

.btn-primary {
  background-color: #5cb85c;
  color: white;

.btn-primary:hover {
background-color: #417ABB;
}

}